.navbar {
    display: flex;
    padding: 10px;
    background-color: #101419;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.navbar-home {
    width: 100%;
    gap: 1rem;
    display: flex;
    justify-content: flex-end;
}