.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    gap: 5vh;
}

img { 
    width: 100%;
}

.project-and-description {
    display: grid;
    /* justify-items: start; */
    grid-template-columns: 1fr 1fr;
    color: #FFFFFF;
    gap: 5vw;
    margin: 20px;
}

.project-title-and-description {
    text-align: start;
}

.project-title {
    font-size: 2rem;
}
